/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700|Satisfy);

@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

body {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	background: #333;
	overflow: hidden;
	font-weight: 600;
}

a {
	color: #ddd;
	text-decoration: none;
}

a:hover {
	color: #fff;
}

/* Header Style */
.codrops-top {
	background: #fff;
	background: transparent;
	text-transform: uppercase;
	position: fixed;
	width: 50%;
	font-size: 0.68em;
	line-height: 2.2;
	z-index: 50000;
	/*height: 5%;*/
	top: 0;
	right: 0;
}

#homepage_left{
	width: 50%;
	height: 100%;
	float: left;
	z-index: 1000;
	background-color: #F2F9BD;
}

#homepage_left_bottom{
	width: 100%;
	height: 30%;
}

#homepage_right{
	height: 100%;
	width: 50%;
	float: right;	
	/*background-color: rgb(237, 42, 38);*/
	transition: background-image 1s ease-in-out;
	background-image: url('images/background1.jpg');
	background-size: 100%;
}


#homepage-carousel{
	width:60%;
	margin-left: 20%;
	margin-right: 20%;
	height: 60%;
	text-align: center;
	background-color: transparent;
}

#hp_right_1_mask{
	height: 120%;
	width: 100%;
	padding-top: 20%;
	background-color: rgba(237, 42, 38, 0.85);
}

#hp_right_1{
	/*background-color: rgba(237, 42, 38, 0);*/
	text-align: justify;
	height: 60%;
	width: 70%;
	margin-left: 15%;
	/*margin-top: 20%;*/
	padding: 20px;

}

#hp_right_2{
	/*background-color: rgb(237, 42, 38);*/
	display: none;
	height: 60%;
	width: 70%;
	margin-left: 15%;
}

#hp_right_3{
	/*background-color: rgb(237, 42, 38);*/
	display: none;
}
#hp_right_4{
	/*background-color: rgb(237, 42, 38);*/
	display: none;
	text-align: justify;
	height: 60%;
	width: 70%;
	margin-left: 15%;
	/*margin-top: 20%;*/
	padding: 20px;
}

#why_right_top{
	width: 100%;
	height: 30%;
	margin-top: 10%;
	background-color:transparent;
}

#why_right_bottom{
	width: 100%;
	height: 30%;
	margin-top: 9%;
}

#why_right_1{
	display: inline-block;
	height: 100%;
	width: 30%;
	background-color:transparent;
}


#why_right_2{
	display: inline-block;
	margin-left: 10px;
	height: 100%;
	width: 30%;
	background-color:transparent;
}


#why_right_3{
	display: inline-block;
	margin-left: 10px;
	height: 100%;
	width: 30%;
}


#why_right_4{
	display: inline-block;
	margin-left: 60px;
	height: 100%;
	width: 30%;
}


#why_right_5{
	display: inline-block;
	margin-left: 60px;
	height: 100%;
	width: 30%;
}

#locations_list{
	width: 30%;
	height: 50%;
	margin-top: 10%;
	/*margin-left: 35%;*/
}

.locations-list{
	margin-top: 10px;
	border: 1px solid;
	border-radius:4px;
	padding: 5px;
	width:150px;
	text-align: center;
	cursor: pointer;
}

#menu_list_wrapper{
	height: auto;
	width: 70%;
	margin-left: 10%;
	margin-right: 15%;
	margin-top: 0%;

}

.menu_item{
	/*display: inline-block;*/
	position: relative;
	font-weight: 300;
	float: left;
	margin-left: 35px;
	margin-top: 30px;
	height: 400px;
	width: 300px;
	/*padding:10px;*/
	border: 2px solid;
	/*border-radius: 10px;*/
}

.menu_item_image{
	position: relative;
	width: 100%;
	margin:0;
	height: 55%;
	background-size: 100% 80%;
}

.menu_item_price{
	position: absolute;
	margin: 0;
	border:2px solid;
	padding: 6px;
	bottom:0;
	float: left;
	left: 0;
}

.menu_item_title{
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: 1.3em;
	text-align: center;
	font-weight: 600;
	opacity: 0.8;
}

.menu_item_desc{
	margin-top: 0px;
	padding-left: 10px;
	font-weight: 500;
	font-size: 0.9em;
	word-spacing: 3px;
}

.menu_item_vegtoggle{
	left:0;
	bottom: 0;
}

.menu_item_vendor{
	padding:6px;
	position: absolute;
	bottom:0;
	right:0;
	float: right;
	margin: 0;
	border:2px solid;
}

.menu_item_counter{
	position: absolute;
	bottom:10px;
	font-size: 2em;
	text-align: center;
	height: 10%;
	width: 100%;
}

#menu_item_minus{
/*	margin-left: 31.25%;	
	font-size: 2.4em;
	display: inline-block;
	border: 3px solid;
	height: 100%;
	background-size: 100% 100%;
	width: 12.5%;
	cursor: pointer;*/
	display: inline-block;
	border: 3px solid;
	height: 100%;
	width: 12.5%;
	cursor: pointer;
}

#menu_item_count{
	display: inline-block;
	/*font-size: 2.4em;*/
	/*padding-bottom:20px;*/
	text-align: center;
	/*border: 3px solid;*/
	height: 100%;
	width: 12.5%;
}

#menu_item_plus{
	display: inline-block;
	border: 3px solid;
	height: 100%;
	width: 12.5%;
	cursor: pointer;
}

#ordersummary_left{
	width: 50%;
	height: 100%;
	float: left;
	z-index: 1000;
	/*background-color: #F2F9BD;*/
}

#ordersummary_right{
	height: 100%;
	width: 50%;
	float: right;	
	background-color: #BFD0C9;
	background-size: 100%;
}

#ordersummary_right_wrapper{
	color: white;
	position: relative;
	width: 70%;
	margin-left: 15%;
	margin-top: 5%;
	height: 60%;
	overflow-y: scroll;
	/*background-color: red;*/
}

.pt-page-1 h1{
	font-size: 1.4em;
	color:rgba(237, 42, 38, 1);
	margin: 0;
	text-transform: none !important;
	letter-spacing: 3px !important;
	font-weight: 500 !important;
}
.ordersummary_table_left{
	position: absolute;
	height: 50px;
	width: 150px;
	float: left;
}

.ordersummary_table_right{
	position: absolute;
	height: 50px;
	width: 80px;
	right:0;
}

.ordersummary_table_total{
	bottom: 0;
	position: absolute;
	padding-left: 30%;
	font-weight: 100;
}
#ajax-contact-form{
	margin-top: 5%;
}
input{
	font-family: 'Lato', Calibri, Arial, sans-serif !important;
    padding: 10px;
    width: 50%;
    height:40px;
    border: 0px solid;
    font-weight: 600;
    font-size: 0.9em;
    margin-top: 20px;
    margin-left: 25%;
    background: rgba(247, 247, 247, 1);
    color: black !important;
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

input.contact_btn,.send_btn{
	width:10%;
	/*color: rgba(73, 71, 154, 0.9);*/
	border: 2px solid;
	border-color:#BFD0C9; 

}

textarea:focus, input:focus{
    outline: 0;
}
textarea{
	border:0px solid;
	font-weight: 600;
	width: 50%;
	height: 150px;
	padding: 10px;
    font-size: 0.9em;
    margin-top: 25px;
    margin-left: 25%;
    background: rgba(247, 247, 247, 1);
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

.codrops-top a {
	font-weight: 600;
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #fff;
	display: inline-block;
	cursor: pointer;
	margin-left: 0px;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.2);
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin-left: 25px;
	/*padding-top: 15px;*/
	/*padding: 10px 8px 4px 8%;*/
	-webkit-font-smoothing: antialiased;
}
.codrops-icon-drop:before {
	content: "\e001";
}
.codrops-icon-prev:before {
	content: "\e004";
}
.codrops-icon-archive:before {
	content: "\e002";
}
.codrops-icon-next:before {
	content: "\e000";
}
.codrops-icon-about:before {
	content: "\e003";
}

@media screen and (max-width: 25em) { 
	.codrops-icon span {
		display: none;
	}
}
